
.segitiga{
    text-align: center;
    font-size: larger;
    background-color: blue;
    color: aliceblue;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Courier New', Courier, monospace;
    border: black solid;
    border-radius: 10px;
}
p {
    font-size:large;
}
#keliling {
    background-color:white;
    width: 100%;
    color: blue;
    padding: 10px;
    border: none;
}

h3{
    text-align: center;
    border: black solid;
    padding: 20px;
    font-size: xx-large;
    background-color: brown;
    color: aliceblue;
}
img{
    width: 100%;
    

   
   
    
}
h4 {
    text-align: center;
    font-size: x-large;

}
h1 {
    text-align: center;
    font-size: xx-large;
}
#alas {
    width: 100%;
    border: 2px solid wheat;
    background-color:coral;
    color: white;
}
#tinggi {
    width: 100%;
    border: 2px solid wheat;
    background-color:coral;
    color: white;
}
#hitung {
    padding: 10px;
    width: 25%;
    border-radius: 72px;
    background-color: aqua;

}
#reset {
    padding: 10px;
    width: 25%;
    border-radius: 72px;
    background-color: red;
    color: white;

}
#sisi1 {
    width: 100%;
    border: 2px solid wheat;
    background-color:coral;
    color: white;
}
#sisi2 {
    width: 100%;
    border: 2px solid wheat;
    background-color:coral;
    color: white;
}
#sisi3 {
    width: 100%;
    border: 2px solid wheat;
    background-color:coral;
    color: white;
}
#hitungkeliling {
    padding: 10px;
    width: 25%;
    border-radius: 72px;
    background-color: chartreuse;
}
#resetkeliling {
    padding: 10px;
    width: 25%;
    border-radius: 72px;
    background-color: red;
    color: white;
}